$telegram-main-color: #61DAFB !default;
$telegram-base-color: currentColor;
$telegram-spinner-color: $telegram-base-color !default;
$telegram-handler-color: $telegram-base-color !default;
$telegram-line-color: white;
$telegram-big-handler-color: $telegram-handler-color;
$telegram-big-handler-size: 16px;
$telegram-big-handler-width: 2px;
$telegram-small-handler-size: 4px;
$telegram-small-handler-color: $telegram-handler-color;
$telegram-handler-padding: 4px;
$telegram-handler-wrapper-size: $telegram-big-handler-size + $telegram-handler-padding * 2;


.telegram-cropper {
	background: black;
	max-height: 100%;
	color: $telegram-main-color;
}

.telegram-stencil {
	&__line {
		border-color: rgba($telegram-line-color, 0.8);
	}

	&__preview {
		border: solid 2px rgba($telegram-line-color, 0.4);
	}

	&__handler {
		&--hover {
			opacity: 1;
		}
	}

	&__handler-wrapper {
		width: $telegram-handler-wrapper-size;
		height: $telegram-handler-wrapper-size;

		&--west-north {
			transform: translate(-$telegram-handler-padding - 1, -$telegram-handler-padding - 1);
		}

		&--east-south {
			transform: translate(-$telegram-big-handler-size - $telegram-handler-padding + 1, -$telegram-big-handler-size - $telegram-handler-padding + 1);
		}

		&--west-south {
			transform: translate(-$telegram-handler-padding - 1, -$telegram-big-handler-size - $telegram-handler-padding + 1);
		}

		&--east-north {
			transform: translate(-$telegram-big-handler-size - $telegram-handler-padding + 1, -$telegram-handler-padding - 1);
		}
	}

	&__handler {
		display: block;
		position: relative;
		flex-shrink: 0;
		transition: opacity 0.5s;
		border: none;
		background: $telegram-base-color;
		top: auto;
		left: auto;
		height: $telegram-small-handler-size;
		width: $telegram-small-handler-size;
		opacity: 0;

		&--west-north,
		&--east-south,
		&--west-south,
		&--east-north {
			display: block;
			height: $telegram-big-handler-size;
			width: $telegram-big-handler-size;
			background: none;
			opacity: 0.7;
		}

		&--west-north {
			border-left: solid $telegram-big-handler-width $telegram-base-color;
			border-top: solid $telegram-big-handler-width $telegram-base-color;
		}

		&--east-south {
			border-right: solid $telegram-big-handler-width $telegram-base-color;
			border-bottom: solid $telegram-big-handler-width $telegram-base-color;
		}

		&--west-south {
			border-left: solid $telegram-big-handler-width $telegram-base-color;
			border-bottom: solid $telegram-big-handler-width $telegram-base-color;
		}

		&--east-north {
			border-right: solid $telegram-big-handler-width $telegram-base-color;
			border-top: solid $telegram-big-handler-width $telegram-base-color;
		}

		&--hover {
			opacity: 1;
		}
	}
}
