.twitter-cropper-wrapper {
	&__content {
		display: flex;
		height: 100%;
		min-height: 0;
		overflow: hidden;
	}
	&__navigation {
		display: flex;
		align-items: center;
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
	}
}
