

.theme-example {
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	user-select: none;
	min-height: 200px;
	border: solid 1px #eee;

	&--compact {
		@import '~react-advanced-cropper/dist/themes/compact.scss';
	}

	&--classic {
		@import '~react-advanced-cropper/dist/themes/classic.scss';
	}

	&--bubble {
		@import '~react-advanced-cropper/dist/themes/bubble.scss';
	}

	&--corners {
		@import '~react-advanced-cropper/dist/themes/corners.scss';
	}

	&__theme {
		color: white;
		position: absolute;
		font-size: 10px;
		right: 10px;
		bottom: 10px;
		opacity: 0.5;
	}

	&__button {
		fill: white;
		transition: fill 0.5s;
		&--inactive {
			fill: #888;
		}
	}
}
