@import '../../../css/mixins';

.something-showcase-wrapper {
	border: solid 1px #EEE;
	padding: 32px;
	position: relative;
	overflow: hidden;
	@include small-mobile() {
		padding: 16px;
	}
	&__background, &__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&__background {
		background: url("/static/img/images/showcase-background.png");
		background-size: cover;
		background-position: center;
		opacity: 0.2;
		filter: blur(6px);
		pointer-events: none;
		transform: scale(1.2);
	}
	&__overlay {
		background: black;
		opacity: 0.2;
	}
}

