.react-bounding-box {
	position: relative;
	height: 100%;
	width: 100%;
	&__handler-wrapper {
		will-change: transform;
		position: absolute;
	}
	&__handler {
		position: absolute;
		&--west-north {
			left: 0;
			top: 0;
		}
		&--north {
			left: 50%;
			top: 0;
		}
		&--east-north {
			left: 100%;
			top: 0;
		}
		&--east {
			left: 100%;
			top: 50%;
		}
		&--east-south {
			left: 100%;
			top: 100%;
		}
		&--south {
			left: 50%;
			top: 100%;
		}
		&--west-south {
			left: 0;
			top: 100%;
		}
		&--west {
			left: 0;
			top: 50%;
		}
	}
}
