.react-stencil-overlay {
	box-sizing: content-box;
	color: rgba(black, 0.5);
	box-shadow: 0 0 0 1000px currentColor;
	pointer-events: none;
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden;
}
