.react-cropper-boundary {
	user-select: none;
	direction: ltr;
	position: relative;
	&__content {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__stretcher {
		pointer-events: none;
		position: relative;
		max-width: 100%;
		max-height: 100%;
	}
}
