.react-preview {
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	&__content {
		overflow: hidden;
		position: relative;
	}

	&__image {
		display: none;
		pointer-events: none;
		position: absolute;
		user-select: none;
		transform-origin: center;
		// Workaround to prevent bugs at the websites with max-width
		// rule applied to img (Vuepress for example)
		max-width: none !important;
		&--visible {
			display: block;
		}
	}
}
