@import '../../../css/mixins';

.preview-results {
	&__wrapper {
		display: flex;
		position: absolute;
		right: 15px;
		bottom: 15px;
		border: dashed 1px rgba(white, 0.5);
	}
	&__coordinates {
		background: rgba(black, 0.8);
		padding: 5px;
		font-size: 10px;
		color: white;
		pointer-events: none;
		@include mobile() {
			display: none;
		}
	}
	&__coordinates-title {
		font-weight: bold;
	}
	&__coordinates-title,
	&__coordinates-value {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	&__preview {
		width: 107px;
		height: 107px;
		opacity: 0.8;
		pointer-events: none;
		img {
			width: 100%;
			height: 100%;
		}
	}
}
