.resize-algorithm {
	width: 100%;
	height: 400px;
	&__boundary {
		position: relative;
	}
	&__stencil {
		position: absolute;
		color: var(--ifm-color-primary);
		&-line {
			border-color: var(--ifm-color-primary);
		}
	}
	&__reference {
		position: absolute;
		border: solid 1px var(--ifm-color-primary-dark)
	}
}
