.react-advanced-cropper {
	overflow: hidden;
	max-height: 100%;
	background: black;
	position: relative;
	display: flex;
	flex-direction: column;
	&__background {
		width: 100%;
		height: 100%;
		position: absolute;
		background: inherit;
	}
	&__boundary {
		flex-grow: 1;
		min-height: 0;
	}
	&__wrapper, &__background-wrapper {
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		position: absolute;
	}
	&__stencil-wrapper {
		position: absolute;
	}
}
